@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #ffffff;
    --color-heading: #fafafa;
    --color-base2: #040b2a;
    --color-brand2: #deff58;
    --sidbar-width: 300px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base);
    background: linear-gradient(rgb(30, 35, 78), rgb(9, 0, 108));
    letter-spacing: 1px;
    position: relative;
    z-index: 0;   
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed; /* Use fixed to avoid affecting document flow */
    top: 0;
    left: 0;
    width: 100vw; /* Use viewport width */
    height: 100vh; /* Use viewport height */
    background-image: url(../images/body_bg.png);
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    opacity: 0.4; /* Adjust opacity as needed */
    z-index: -1;
    pointer-events: none; /* Ensure it doesn’t interfere with content */
}







/* Commonly used styling throughout */

ul{ list-style: none;}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover { color: var(--color-brand2); }

img { width: 100%; }








/* NAVBAR */

.navbar { background-color: var(--color-base2); }

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: #b6cbce4f;

    font-size: 15px;
    border-radius: 30px;
    padding:8px;
    width:200px;
    margin-bottom: 10px;
}

.navbar .nav-link:hover {
    color: var(--color-base2);
    background-color: var(--color-brand2);
}

#profile_pic{
    width:220px;
    height:210px;
    margin-bottom: 30px;
    margin-top: -50px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.6); 
}

#profile_pic:hover{
    box-shadow: 0px 0px 15px 5px var(--color-brand2);
    border:4px solid var(--color-brand2);
}


@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: var(--color-base2);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 4px solid white;
    }

    #content-wrapper {
        padding-left: var(--sidbar-width);
    }

    .exp-con .row{
        padding-bottom: 20px;
    }
}






/* Common CSS */

.text-brand { color: var(--color-brand2);}

.bg-base {
    background-color:#040b2a ;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.23);
    height:auto;
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.328);
    border-left: 2px solid rgba(255, 255, 255, 0.328);
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: 0 0 14px 5px var(--color-brand2);
}

.abt-con,.cont-con{
    display: flex;
    text-align: left;
    display: inline-flex;
}

.btn {
    padding: 12px 25px;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
}

.btn-brand {
    color: white;
    border-radius: 30px;
    font-family: var(--font-base);
    background-color:#9a9e9e7c ;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border:1px solid;
    font-size: 17px;
    letter-spacing: 1px;
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--color-brand2);
    color: var(--color-base2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: yellow;
    position: absolute;
    left: 0;
    top: 110%;
    transition: all 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}








/* Specifically for About Section */

.icon-text-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    margin-top: -10px;
  }
  
  .iconbox {
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    font-size: 30px;
    border-radius: 30px;
    font-weight: bolder;
    background-color: var(--color-brand2);
    color: var(--color-base2);
  }
  
.icon-text-container h4 {
    padding-bottom: 10px; 
  }

.service span{
    font-size: 13px;
    text-align: justify;
}


@media (max-width: 768px) {
    .abt-con {
      flex-direction: column; /* Change to column for smaller screens */
    }
  
    /* Ensure about and skills rows stack vertically on smaller screens */
    .info-row,.skill-row,.form-row{
      margin-bottom: 80px;
    }
  }


.skills{
    display: flex;
    align-items: center;
}

/* CARD */

.card-custom .card-custom-image {
    overflow: hidden;
    padding: 8px;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
    border: 1px solid rgba(255, 255, 255, 0.522);
    height: 180px;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.08);
}

.card-custom .card-content {
    text-align: center;
}

.card-content p{
    font-size: 15px;
}

/*Slide up panel on hover*/

.card-custom {
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.card-custom .card-hover-panel {
    position: absolute;
    bottom: -115%; /* Start position off the card */
    left: 0;
    width: 100%;
    background-color:white; /* Semi-transparent background */
    color: #000000;
    font:10px;
    font-weight:500;
    padding: 20px 25px;
    box-sizing: border-box;
    transition: bottom 0.3s ease-in-out; /* Smooth transition */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.card-custom:hover .card-hover-panel {
    bottom: -5px; /* Slide up on hover */
}

.card-hover-panel a {
    color: black;
    text-decoration: none;
    background-color: #9a9e9e7c;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.card-hover-panel a:hover {
    background-color: var(--color-brand2); /* Change color on hover */
    color: var(--color-base2);
    font-weight: bolder;
}


/* CONTACT */
#contact .form-control {
    background-color: #9a9e9e7c;
    border-color: var(--color-base);
    color: var(--color-body);
    font-family: var(--font-base);
    border-radius: 30px;
    padding: 15px 30px;
}

#contact .form-control:not(:focus):hover{
    border-color: var(--color-brand2);
    box-shadow: 0px 0px 15px 5px var(--color-brand2);
    color:#deff58;
}

#contact .form-control:focus{
    border:1px solid var(--color-brand2);
    background-color: white;
    color: var(--color-base2);
    font-weight: bolder;
}

#contact .form-control::-webkit-input-placeholder {
    color: #feffff;
    font-family: var(--font-base);
}

#contact .form-control:focus::placeholder {
    color: var(--color-base2); 
    opacity: 0.5;   
    font-family: var(--font-base);
}

#contact :not(:focus):hover::placeholder {
    color: var(--color-brand2);
}

#contact input.form-control {
    height: 45px;
}

/* Footer */
footer{
background-color:var(--color-base2);
border-left: 2px solid rgba(255, 255, 255, 0.328);
}

footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

.form-group{
    width: 100%;
    font-family: var(--font-base);
}